html body {
  position: relative;
  -webkit-transition: background-color;
  -webkit-transition-duration: 3s;
  transition: background-color;
  transition-duration: 3s;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5); }
  @media screen and (max-width: 400px) {
    html body {
      font-size: 16pt; } }
  @media screen and (min-width: 401px) and (max-width: 600px) {
    html body {
      font-size: 24pt; } }
  @media screen and (min-width: 601px) {
    html body {
      font-size: 32pt; } }

article#container {
  position: relative;
  width: 100%;
  height: 100%; }

article#insider {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translate(0%, -50%);
  top: 50%; }

span#toggle {
  padding-left: 0.2em; }

a, a:visited, a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }

a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline; }

nav {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px; }

body.a-1 {
  background-color: #cf3c17; }
body.a-2 {
  background-color: #cf6017; }
body.a-3 {
  background-color: #cf8517; }
body.a-4 {
  background-color: #cfaa17; }
body.a-5 {
  background-color: #cfcf17; }
body.a-6 {
  background-color: #aacf17; }
body.a-7 {
  background-color: #85cf17; }
body.a-8 {
  background-color: #60cf17; }
body.a-9 {
  background-color: #3ccf17; }
body.a-10 {
  background-color: #17cf17; }
body.a-11 {
  background-color: #17cf3c; }
body.a-12 {
  background-color: #17cf60; }
body.a-13 {
  background-color: #17cf85; }
body.a-14 {
  background-color: #17cfaa; }
body.a-15 {
  background-color: #17cfcf; }
body.a-16 {
  background-color: #17aacf; }
body.a-17 {
  background-color: #1785cf; }
body.a-18 {
  background-color: #1760cf; }
body.a-19 {
  background-color: #173ccf; }
body.a-20 {
  background-color: #1717cf; }
body.a-21 {
  background-color: #3c17cf; }
body.a-22 {
  background-color: #6017cf; }
body.a-23 {
  background-color: #8517cf; }
body.a-24 {
  background-color: #aa17cf; }
body.a-25 {
  background-color: #cf17cf; }
body.a-26 {
  background-color: #cf17aa; }
body.a-27 {
  background-color: #cf1785; }
body.a-28 {
  background-color: #cf1760; }
body.a-29 {
  background-color: #cf173c; }
body.a-30 {
  background-color: #cf1717; }
