html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  html.wf-oxygen-n4-active.wf-oxygen-n7-active {
    font-family: 'Oxygen', sans-serif; }
  html body {
    background-color: #1f1f1f;
    color: rgba(237, 237, 237, 0.9);
    font-size: 16pt; }

* {
  box-sizing: border-box; }
