/* line 1, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
html {
  width: 100%; }

/* line 32, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
.Cabin, body.Cabin, nav.nav {
  font-family: 'Cabin', sans-serif; }

/* line 36, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
.Noto, body.Noto {
  font-family: 'Noto', sans-serif; }

/* line 40, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
.Arimo {
  font-family: 'Arimo', sans-serif; }

/* line 53, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
body {
  background-color: #BFE5CC;
  color: white;
  font-size: 14pt;
  margin: 0; }
  /* line 54, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  body.Arimo {
    font-family: 'Arimo', sans-serif; }

/* line 71, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
* {
  box-sizing: border-box; }

/* line 75, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
nav.nav {
  background-color: #EAEAE0;
  height: 60px;
  color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 0 1em; }
  /* line 86, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  nav.nav a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 0.09em;
    border-bottom: solid 2px;
    letter-spacing: 0.018em;
    transition-property: color;
    transition-duration: 0.5s; }
    /* line 95, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav a:hover,
    nav.nav a.inactive:hover {
      color: rgba(0, 0, 0, 0.75); }
    /* line 98, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav a.inactive {
      color: rgba(140, 132, 125, 0.68); }
  /* line 104, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  nav.nav {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    /* line 108, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  /* line 115, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  nav.nav.old-nav {
    display: -webkit-flex;
    display: flex; }
    /* line 118, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav.old-nav > div {
      height: 100%; }
      /* line 125, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      nav.nav.old-nav > div > div {
        height: 100%;
        position: relative; }
        /* line 132, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
        nav.nav.old-nav > div > div > div {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); }
    /* line 139, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav.old-nav div.left {
      flex: 0 1 auto;
      width: 4em; }
    /* line 143, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav.old-nav div.mid {
      flex: 1; }
      /* line 145, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      nav.nav.old-nav div.mid div.txt {
        left: 0px;
        right: 0px;
        text-align: center; }
    /* line 151, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    nav.nav.old-nav div.right {
      width: 5em;
      flex: 0 1 auto; }
      /* line 154, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      nav.nav.old-nav div.right div.txt {
        left: 0px;
        right: 0px;
        text-align: right; }

/* line 163, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
article {
  height: 100vh;
  color: #eef6f0; }
  /* line 166, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  article section {
    padding-top: 60px;
    height: 100%; }
    /* line 172, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    article section.inactive {
      display: none; }
    /* line 175, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    article section.active {
      display: block; }

/* line 181, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
section.about {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14pt; }
  /* line 185, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  section.about > .exp-show {
    display: none; }
  /* line 189, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  section.about.exp > p {
    display: none; }
  /* line 192, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  section.about.exp > .exp-show {
    display: block;
    height: 100%;
    width: 100%; }
    /* line 196, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    section.about.exp > .exp-show .top {
      width: 100%;
      height: calc(50% - 30px);
      background-color: rgba(224, 234, 230, 0.8); }
    /* line 201, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    section.about.exp > .exp-show .middle {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between; }
      /* line 206, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      section.about.exp > .exp-show .middle > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        /* line 211, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
        section.about.exp > .exp-show .middle > div p {
          margin: 0; }
        /* line 214, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
        section.about.exp > .exp-show .middle > div a {
          text-decoration: none;
          padding-bottom: 0.5em;
          border-bottom: solid 2pt;
          transition-property: padding;
          transition-duration: 0.5s; }
          /* line 221, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
          section.about.exp > .exp-show .middle > div a:hover,
          section.about.exp > .exp-show .middle > div a:active {
            padding-bottom: 25vh; }
        /* line 225, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
        section.about.exp > .exp-show .middle > div:nth-child(1) {
          padding-top: 0.5em; }
        /* line 228, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
        section.about.exp > .exp-show .middle > div:nth-child(2) {
          padding-top: 0.75em; }
        /* line 231, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
        section.about.exp > .exp-show .middle > div:nth-child(3) {
          padding-top: 1.0em; }
    /* line 236, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    section.about.exp > .exp-show .bottom {
      background-color: rgba(224, 234, 230, 0.8);
      width: 100%;
      height: calc(50% - 30px); }

/* line 245, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
section.onoff {
  font-size: 18pt;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em; }
  /* line 247, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  section.onoff.active {
    display: -webkit-flex;
    display: flex; }
  /* line 261, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
  div.onoff-main {
    /*
    sass generates wrong css, should append @at-root
    html.not-cached span.from-server {
        display: inline;
    }

    html.cached span.from-cache{
        display: inline;
    }*/ }
    /* line 265, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    div.onoff-main div.network-status {
      display: block;
      height: auto; }
    /* line 269, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    div.onoff-main div.cache-status {
      display: none; }
      /* line 271, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      html.cached div.onoff-main div.cache-status {
        display: block; }
    @media (max-width: 450px) {
      /* line 279, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      div.onoff-main div.network-status,
      div.onoff-main div.cache-status {
        max-width: 10em; } }
    @media (min-width: 451px) and (max-width: 780px) {
      /* line 279, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      div.onoff-main div.network-status,
      div.onoff-main div.cache-status {
        max-width: 20em; } }
    /* line 288, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    div.onoff-main span.online {
      display: none; }
      /* line 290, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      html.online div.onoff-main span.online {
        display: inline; }
    /* line 294, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    div.onoff-main span.offline {
      display: none; }
      /* line 296, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      html.offline div.onoff-main span.offline {
        display: inline; }
    /* line 300, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    div.onoff-main span.from-cache {
      display: none; }
      /* line 302, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      html.cached div.onoff-main span.from-cache {
        display: inline; }
    /* line 306, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
    div.onoff-main span.from-server {
      display: none; }
      /* line 308, /Users/mxm/Projects/2k15/fuzzy-octo-tribble/fuzzy-octo-tribble/stuff/is-online/exp-on-off.scss */
      html.not-cached div.onoff-main span.from-server {
        display: inline; }

/*# sourceMappingURL=exp-on-off.css.map */
