html {
    width: 100%;
}

html.online {}

html.offline {}

html.cached {}

html.uncached {}

$ps_beige: #EAEAE0;
$ps_green: #9FBFB2;
$ps_green2: #BFE5CC;
$ps_green3: #70877E;
$ps_color1: #839D93;
$ps_color2: #70877E;
$ps_color3: #E0EAE6;
$ps_color4: #9D6458;
$ps_color5: #EAE2E0;
$nav_height: 60px;
$body_bg: $ps_green2;
$header_bg: $ps_beige;
$body_text: white;
//header text color
$header_text: transparentize(black, 1.0 - 0.75); //black;
//body text color
$article_text: mix($body_text, $body_bg, 50%);
$article_text: mix($article_text, $ps_beige, 75%);
$article_text: mix($article_text, mix($body_text, $body_bg, 90%), 50%);
%cabin {
    font-family: 'Cabin', sans-serif;
}

%noto {
    font-family: 'Noto', sans-serif;
}

&.Arimo {
    font-family: 'Arimo', sans-serif;
}

&.Cabin {
    //font-family: 'Cabin', sans-serif;
    @extend %cabin;
}

&.Noto {
    @extend %noto;
}

body {
    &.Arimo {
        font-family: 'Arimo', sans-serif;
    }
    &.Cabin {
        //font-family: 'Cabin', sans-serif;
        @extend %cabin;
    }
    &.Noto {
        @extend %noto;
    }
    background-color: $body_bg;
    color: $body_text;
    //margin-top: $nav_height;
    font-size: 14pt;
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav.nav {
    @extend %cabin;
    background-color: $header_bg;
    height: $nav_height;
    color: $header_text;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 0 1em;
    a {
        color: inherit;
        text-decoration: none;
        padding-bottom: 0.09em;
        border-bottom: solid 2px;
        font-size: 16pt;
        letter-spacing: 0.05em;
        transition-property: color;
        transition-duration: 0.5s;
        &:hover,
        &.inactive:hover {
            color: $header_text;
        }
        &.inactive {
            $inactive_color: mix($header_text, #9D6458, 80%);
            $inactive_color: mix($inactive_color, $header_bg, 60%);
            color: transparentize($inactive_color, 1 - 0.8);
        }
    }
    & {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        > div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

article {
    min-height: 100vh;
    color: $article_text;
    section {
        padding-top: $nav_height;
        height: 100%;
        > p {
            //display: none;
        }
        @at-root &.inactive {
            display: none;
        }
        @at-root &.active {
            display: block;
        }
    }
}

section.onoff {
    height: 100vh;
    font-size: 18pt;
    &.active {
        display: -webkit-flex;
        display: flex;
    }
    justify-content: center;
    align-items: center;
    //i want the contents of this elm to be visually centered within the view
    //port. adding the top padding to offset the nav bar distorts that effect
    //so for this section, it makes essence to remove the padding and
    //since it is centered, visually there will still be space between
    //the nav-bar and the content.
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    @at-root div.onoff-main {
        //padding: 3em;
        //width: 100%;
        //height: 100%;
        div.network-status,
        div.cache-status {
            //max-width: 90em;
            @media (max-width: 450px) {
                max-width: 15em;
            }
            @media (min-width: 451px) and (max-width: 780px) {
                max-width: 20em;
            }
        }

       @at-root div.network-status {
            display: block;
            height: auto;
        }
        @at-root div.cache-status {
            display: none;
            html.cached & {
                display: block;
            }
            html.not-cached & {
                //display: block;
            }
        }
        @at-root span.online {
            display: none;
            html.online & {
                display: inline
            }
        }
        @at-root span.offline {
            display: none;
            html.offline & {
                display: inline;
            }
        }
        @at-root span.from-cache {
            display: none;
            html.cached & {
                display: inline;
            }
        }
        @at-root span.from-server {
            display: none;
            html.not-cached & {
                display: inline;
            }
        }
    }
}

section.about {
    $base-line-height: 1.35em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
    @media (max-width: 450px) {
        width: 100%;
        font-size: 14pt;
        letter-spacing: 0.05em;
        $line-height: $base-line-height * 1.0;
        line-height: $line-height;
        padding-top: $line-height * 3;
        padding-bottom: $line-height * 2;
        padding-right: 0.5em;
        h1 {
            &.center {
                text-align: center;
                padding-right: 0.5em;
            }
        }
    }
    @media (min-width: 451px) and (max-width: 650px) {
        padding-right: 2em;

        h1 {
            &.center {
                text-align: center;
             //   padding-right: 0.5em;
            }
        }
    }

    @media (min-width: 451px) {
        //$line-height:
        min-width: 450px;
        max-width: 650px;
        font-size: 16pt;
        letter-spacing: 0.05em;
        $line-height: $base-line-height * 1.05;
        line-height: $line-height;
        padding-top: $line-height * 3;
        padding-bottom: $line-height * 2;
    }
}

.markdown{
      h1 {
        letter-spacing: 0.08em;
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
        letter-spacing: 0.08em;
        &:not(:first-child){
            //background-color: pink;
            margin-top: 2.5em;
            margin-bottom: 0.5em;
        }
    }

    $shrinkfont: (1.25em/12)*11;
    h3{

        font-size: $shrinkfont;
        letter-spacing: 0.08em;
        &:not(:first-child){
            //background-color: pink;
            margin-top: 1.5em;
            margin-bottom: 0.5em;
        }
    }

    h4{
        $shrinkfont: ($shrinkfont / 12)*11;
        font-size: $shrinkfont;
        letter-spacing: 0.08em;
        //font-weight: normal;
        &:not(:first-child){
            //background-color: pink;
            margin-top: 1.5em;
            margin-bottom: 0.5em;
        }
    }

    h5{
        font-size: 1.0em;
        letter-spacing: 0.08em;
        //font-weight: normal;
        &:not(:first-child){
            //background-color: pink;
            margin-top: 1.5em;
            margin-bottom: 0.5em;
        }
    }

    a{
        color: inherit;
    }

    ul, ol{
        margin-top: 0.75em;
        margin-bottom: 0.75em;
        line-height: inherit;
        > li{
            margin-top: 0.75em;
            margin-bottom: 0.75em;
            line-height: inherit;
        }
    }

}
